@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #080609;
  
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.site-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer{
margin-top:auto;
}

.ride-book{
  background-image: url('./assets/overlay.png');
  background-size: cover;
  height: 85vh;
}

.bg-pipe{
  background-image: url('./assets/bgImagePipe.png');
  background-size: cover;
  height:100vh;
}
.bg-space{
  background-image: url('./assets/bg-space.png');
  background-size: cover;
  height: 1800px;
}
.nav-logo{
  font-family: 'Abril Fatface', sans-serif;
}
a {
  color: #007bff;
  text-decoration: none;
}

/* Navbar Styles*/
.scrolling{
  backdrop-filter: blur(70px);
}
