@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #080609;
  
}
body{
 
}
.bg-pipe{
  background-image: url('./assets/bgImagePipe.png');
  background-size: cover;
  height:100vh;
}
.h-screen{
  background-image: url('./assets/bg-space.png');
  background-repean: repeat-y;
  background-size: cover;
  height: 2000px;
}
.nav-logo{
  font-family: 'Abril Fatface', sans-serif;
}
a {
  color: #007bff;
  text-decoration: none;
}

/* Navbar Styles*/
.scrolling{
  backdrop-filter: blur(70px);
}

.nav-container{
border:2px solid red;

}